$callToAction: rgb(80, 180, 191);
$primaryText: rgb(27, 22, 64);
$secondaryText: rgba(27, 22, 64, 0.6);
$lightPink: rgb(252, 240, 240);
$darkPink: rgb(79, 39, 47);

body {
  margin: 0 auto;
  background: $lightPink;
  color: $primaryText;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Helvetica;
}

header {
  color: $lightPink;
  background: $darkPink;
  padding: 20px;
}

header {

  h2 {
    font-weight: 100;
    margin: 0 15px;
    display: inline-block;
    line-height: 32px;
  }

  h3 {
    font-size: 14px;
    margin: 0px 115px;
  }

  img {
    display: inline-block;
    float: left;
    line-height: 50px;
  }
}

#highlightHeadlines {
  clear: both;
  margin-top: 60px;
  padding-top: 30px;
  margin-left: 30px;

  ul { margin-left: 0px; padding-left: 0px; }
  li {
    margin-left: 0px;
    list-style-type: none;
    display: inline-block;
    color: rgba(0,0,0,0.7);
    margin: 0 5px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 3px 5px;
    font-size: 11px;

    &:hover {
      cursor: pointer;
    }
  }

  li.Football { background-color: #e88585; }
  li.Hockey { background-color: #f9bc48; }
  li.Playoffs { background-color: yellow; }
  li.Stanley { background-color: #b0d6aa; }
  li.Patriots { background-color: #aaaad6; }

}

#latest-headlines {
  clear: both;

  li {
    list-style-type: none;
    max-width: 700px;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
    position: relative;
  }

  li p {
    margin: 0px;
    position: relative;
  }

  li p.starred:after {
    content: url('./public/assets/img/star.png');
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: -2px;
    margin: 0 0 0 10px;
  }

  li span {
    font-size: 12px;
    color: $secondaryText;
    text-transform: uppercase;
    display: block;
    margin: 5px 0 10px 0;
  }

}



#connectionStatus {
  position: absolute;
  top: 10px;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid #73bb73;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.75);
  background-color: #73bb73;
  margin: 20px;
}

#connectionStatus.offline {
  background-color: red;
  border: 1px solid rgba(0,0,0,0.5);
}

#addNew {
  display: inline-block;
  float: right;
  padding: 20px;
  background-color: #cedddc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  &:after {
    clear: both;
    content: ' ';
    display: block;
  }


  label {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
  }

  input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 0 5px;
  }

  #submitArticle {
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 11px;
    text-transform: uppercase;
    background-color: $callToAction;

    &:hover {
      background-color: #29d2e4;
      cursor: pointer;
    }
  }
}

#star {
  font-size: 11px;
  line-height: 30px;
  margin: 10px 40px;

  img {
    height: 13px;
    margin-top: 7px;
    display: inline;
    float: left;
    margin-right: 5px;
  }
}

.saveOffline {
  font-size: 11px;
  font-weight: 600;
  float: right;
  color: $callToAction;
  padding: 0 10px;

  &:hover {
    cursor: pointer;
  }
}

.starred .saveOffline {
  display: none;
}