$primaryBackground: rgb(2, 157, 144);
$secondaryBackground: rgba(2, 157, 144, 0.5);
$primaryText: rgba(0, 0, 0, 0.6);
$secondaryText: rgba(0, 0, 0, 0.8);

body {
  margin: 0 50px;
  background: $secondaryBackground;
  color: $primaryText;
  font-family: 'Helvetica Neue', Helvetica;
}

header {
  background: $primaryBackground;
  padding: 20px;
}

header {
  img {
    display: inline-block;
    float: left;
    line-height: 50px;
  }
}

h2 {
  font-weight: 400;
  color: $primaryText;
  margin: 0 15px;
  display: inline-block;
  line-height: 50px;
}

ul {
  margin-top: 40px;
}

li {
  list-style-type: none;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

li:hover {
  cursor: pointer;
}

li p {
  margin: 0px;
  position: relative;
}

li p.starred:after {
  content: url('./public/assets/img/star.png');
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -2px;
  margin: 0 0 0 10px;
}

li span {
  font-size: 12px;
  color: $secondaryText;
  text-transform: uppercase;
  display: block;
  margin: 5px 0 10px 0;
}

#connection-status {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid green;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 11px;
  color: green;
  margin: 20px;
}

#connection-status.offline {
  color: red;
  border: 1px solid red;
}

#add-new {
  display: inline-block;
  float: right;
  padding: 20px;
  background-color: #cedddc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#add-new label {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
}

#add-new input {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px;
  margin: 0 5px;
}

#add-new input[type="submit"] {
  border: 1px solid rgba(0,0,0,0.25);
  font-weight: bold;
  padding: 5px 10px;
  background-color: #ffcb4a;
}