body {
  margin: 0 auto;
  background: #F2F2F2;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica;
}

header {
  background: rgb(2, 157, 144);
  padding: 20px;
}

header img {
  display: inline-block;
  float: left;
  line-height: 50px;
}

h2 {
  font-weight: 200;
  color: #f2f2f2;
  margin: 0 15px;
  display: inline-block;
  line-height: 50px;
}